<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>9.0</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>Bare10</string>
	<key>NSMotionUsageDescription</key>
	<string>Gå 10 bruker Motion for å måle hvor raskt du går</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Gå 10 bruker Location for å gjøre hastighetsmålingene nøyaktige</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Gå 10 bruker Location for å kunne gjøre hastighetsmålinger mens appen er lukket.\n Velg &quot;alltid&quot; for å bruke appen som tiltenkt.</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>Gå 10</string>
	<key>CFBundleVersion</key>
	<string>0.0.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.0</string>
</dict>
</plist>
